.container{
    background-color:#F0E68C ;
    height: 750px;
}
#table td{
    background-color: #F0E68C;
    font-size: large;
}
#table1 th{
    width: 150px;
    
}
th a {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 500;
}
button{
    background-color:#F0E68C;
    border: none;
    font-style: italic;
    
}
button:hover{
    background-color: red;
    color: #fff;
    transform: scale(1.1) translate(5px);
    transition: .4s;
    border-radius: 5px;
}
table th button a:hover{
    color: white;
}

/* select:hover{
    background-color: red;
    color: white;
}
select option{
    background-color: white;
    color: black;
}
button select{
    color: black;
    font-size: large;
    font-weight: 500;
    border: none;
    background-color: #F0E68C;

} */
#row2{
    margin-top: 20px;
}
#row2 label{
    font-weight: 500;
    font-style: italic;
}
input{
    width: 250px;
    background-color:#d6b575;
    border: none;
}
textarea{
    background-color:#d6b575;
}
#row2 .col-5{
    padding-left: 50px;
}
#btn{
    background-color: #d6b575;

}
#btn:hover{
    background-color: red;
    color: white;

}
.col-7 img{
    width: 300ppx;
    height: 300px;
    padding-left: 40px;
    margin-top: 15px;
}
.col-7 h2{
    padding-left: 40px;
    margin-top: 30px;
    font-style: italic;
}
.col-7 td{
    width: 100px;
}
.col-7 table td{
    height: 80px;
}
.col-7 table{
    margin-left: 45px;
}
.col-7 #icon .fa-instagram{
    /* width: 200px; */
    color:rgb(194, 9, 55);
}
.col-7 .fa-facebook{
    color: rgb(25, 81, 201);
}
.col-7 span{
    font-weight: 500;
}
